spring:
  application:
    name: booking-service

  datasource:
    url: jdbc:postgresql://localhost:5432/justlife_booking
    username: admin
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 50
        order_inserts: true
    show-sql: true